<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<div class="content-header">
  <!-- <h5 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h5> -->
</div>


<div class="archive page-content inset">
<div class="table-responsive">
  <table class="posts table table-hover borderless">
    <% page.posts.each(function(item){ %>
      <tr>
        <% if (item.link){ %>
          <% if (item.title){ %>
            <td><a href="<%- item.link %>" target="_blank"><%= item.title %></a></td>
          <% } else { %>
            <td><a class="title link" href="<%- item.link %>" target="_blank"><%= item.link %></a></td>
          <% } %>
        <% } else { %>
          <td><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></td>
        <% } %>

        <td class="text-right"><time class="datetime text-muted" datetime="<%= item.date.toDate().toISOString() %>"> <%= item.date.format(config.date_format) %></time></td>


      </tr>

    <% }); %>
  </table>
</div>
  <%- partial('pagination') %>
</div>